<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">

    <div class = "form-group">
        <label> Username
        <input type="text" name="username" class = "form-control">
        </label>
    </div>

    <div class = "form-group">
        <label> Email
            <input type="email" name="email" class = "form-control">
        </label>
    </div>

    <div>
        <label> Password
        <input type="password" name="password" class = "form-control">
        </label>
    </div>
    <div >
        <label> Verify Password
            <input type="password" name="verifyPassword" class = "form-control">
        </label>
    </div>

    <div >
        <input type="submit" value="Submit" >
    </div>

</form>

</body>
</html>